<h2><%= @job.title %></h2>
<p>Company: <%= link_to "#{@job.company.name}", company_path(@job.company) %> </p>
<p>Location: <%= @job.company.location %> </p>
<p>Description: <%= @job.company.description %> </p>

<%= link_to 'Back', jobs_path %>
